@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 12px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.2s;
}

.scrolling::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

.scrolling::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

*::-webkit-scrollbar-thumb {
  opacity: 0;
}

*:active::-webkit-scrollbar-thumb {
  opacity: 1;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --primary: #1e293b;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1e293b;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0f172a;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: #27292d;
    --foreground: #f8fafc;

    --card: #27292d;
    --card-foreground: #f8fafc;

    --popover: #27292d;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #1e293b;

    --secondary: #334155;
    --secondary-foreground: #f8fafc;

    --muted: #334155;
    --muted-foreground: #94a3b8;

    --accent: #334155;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #334155;
    --input: #334155;
    --ring: #cbd5e1;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
